:root {
    --roxo-primario: #8A6DA6;
    --roxo-secundario: #B1A4C0;
    --roxo-destaque: #7A4092;
    --verde-primario: #6EB966;
    --verde-secundario: #97C990;
    --verde-destaque: #31A836;
    --color-text: #3C3C3B;
    --transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 20px;
}

.container-site {
    max-width: 1920px;
}


body::selection{
    color: #fcfcfc;
    background-color: var(--verde-primario);
}

/* ---------- Topo Site --------- */

.texto-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding-top: 10px;
}

.barra-social {
    display: flex;
    justify-content: space-between;
    padding: 1rem 5%;
    background-color: var(--roxo-primario);
    color: #fff;
    align-items: center;

}

.social-header a {
    color: #fff;
    padding: 1.5rem;
    font-size: 25px;

}

.social-header a:hover {
    color: var(--roxo-secundario);
}

.logo-atelie img {
    width: 220px;
    height: 220px;

}

.navbar-menu {
    padding: 1.5rem 5%;

}


.nav-menu {
    display: flex;
    list-style: none;

}

.nav-menu a {
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    font-weight: 700;
    color: var(--color-text);
    text-transform: uppercase;
    transition: var(--transition);
    margin-right: 30px;

}

.nav-menu a:hover {
    color: var(--roxo-destaque);
}

.menu-site {
    justify-content: right;


}

/* ---------- Busca ---------- */

.busca {
    display: flex;
    justify-content: right;
    padding: 1.5rem 5%;
    background-color: #b1a4c02a;
}

.button-busca {
    background-color: var(--verde-destaque);
    color: #fff;
    padding: 1rem 1.5rem;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    text-transform: uppercase;
    border: none;
}

.button-busca:hover {
    background-color: var(--roxo-primario);
}

.form-busca input {
    padding: 1rem;
    width: 300px;
    border: var(--verde-primario) solid 1px;
    border-radius: 5px;
    color: var(--verde-destaque);
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
}

.form-busca input:focus {
    outline: none;
    border-color: var(--roxo-destaque);
    transform: scale(1.02);
}

/* ---------- Banner Site --------- */

.hero {
    background-image: url(img/banner-home.jpg);
    color: #fff;
    height: 650px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1s ease-out;
}

.hero-fdm{
    background-image: url(img/banner-fdm.jpg);
    color: #fff;
    height: 650px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1s ease-out;

}

.hero-resina{
    background-image: url(img/banner-resina.jpg);
    color: #fff;
    height: 650px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 1s ease-out;

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.hero-title {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-size: 150px;
    margin-bottom: -40px;
}

.hero-subtitle {
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 2rem;

}

.hero a{
    text-decoration: none;
}

.cta-button {
    background-color: #ffffff00;
    color: #fff;
    border: solid 0.2rem;
    padding: 1rem 2.5rem;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    transition: var(--transition);
}

.cta-button:hover {
    transform: translateY(-3px);
    background-color: var(--verde-primario);
}

/* ---------- Destaque Produtos --------- */

.destaque-produtos h2 {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-size: 50px;
    color: var(--verde-primario);
    text-align: center;
}

.destaque-produtos {
    padding: 5rem 5%;
    margin: 0 auto;

}

.destaque-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

}

.card-title {
    font-family: "Jersey 10", sans-serif;
    font-size: 30px;
    color: var(--roxo-primario);
}

.card-text {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-align: justify;
    color: #3C3C3B;
}

.medidas {
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    font-weight: 700;
    color: #3C3C3B;
}

.bnt-cards {
    display: flex;
    flex-wrap: wrap;

}

.card-body a {
    padding: 8px 12px;
    border-radius: 5px;
    background-color: var(--verde-primario);
    border-style: none;
}

.card-body a:hover {
    background-color: var(--verde-destaque);
}


/* ---------- Encomendas ------------ */

.destaque-encomendas h3 {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: var(--roxo-destaque);
}

.destaque-encomendas {
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: 0 auto;
    color: var(--roxo-primario);
    align-items: center;
    padding-bottom: 3rem;
}

.destaque-encomendas p {
    padding-bottom: 1rem;
}

.destaque-encomendas img {
    width: 1440px;
    border-radius: 10px;
    padding-bottom: 1rem;

}

.btn-encomenda {
    background-color: var(--verde-primario);
    color: #fff;
    padding: 1rem 2.5rem;
    border-radius: 5px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    text-decoration: none;

}

.btn-encomenda:hover {
    background-color: var(--roxo-primario);
    cursor: pointer;
}


/* --------- Assine -------- */

.novidades {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 5%;
    background-color: var(--verde-secundario);
    color: #fff;
    height: 120px;
    align-items: center;
}

.button-assinar {
    background-color: var(--verde-destaque);
    color: #fff;
    padding: 1rem 2.5rem;
    border-radius: 5px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    margin: 20px 10px;
    cursor: pointer;
}

.novidades-text h4 {
    font-size: 27px;
    font-weight: 700;

}

.form-novidades input {
    padding: 0.8rem;
    width: 400px;
    border: var(--verde-primario) solid 1px;
    border-radius: 5px;
    color: var(--verde-destaque);
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
}

.form-novidades input:focus {
    outline: none;
    border-color: var(--roxo-destaque);
    transform: scale(1.02);
}

/* --------- Voltar ao Topo ---------- */

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 50px;
    height: 30px;
    color: var(--roxo-primario);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    transition: var(--transition);
    z-index: 99;
    opacity: 1;
    pointer-events: auto;
}

.back-to-top:hover {

    color: var(--roxo-destaque);
    transform: translateY(-5px);
}

/* --------- Rodapé --------- */

.rodape {
    background-color: var(--roxo-primario);
    padding: 1.5rem 5%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.slogan-rodape p {
    font-family: "Jersey 10", sans-serif;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    line-height: 1;
    padding-bottom: 15px;
}

.slogan-rodape a {
    color: #fff;
    font-size: 25px;
    padding: 1.5rem;
}

.slogan-rodape a:hover {
    color: var(--roxo-secundario);
}

.logo-rodape img {
    width: 220px;
    height: 220px;
}

.rodape-direitos {
    text-align: center;
    padding: 1rem;
    color: var(--verde-primario);
    font-weight: 600;
}

.rodape-direitos a {
    color: var(--roxo-primario);
    text-decoration: none;
}

.rodape-direitos a:hover {
    color: var(--roxo-destaque);
}

/* Página Conheça o Ateliê */

.sobre-atelie {
    padding: 1.5rem 5%;
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
    align-items: center;

}


.divisor {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.texto-info {
    padding: 1.5rem 5%;
    text-align: justify;

}

.texto-info h1 {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-size: 60px;
    color: var(--roxo-destaque);
}

.texto-info h2 {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: var(--verde-primario);

}

.texto-info h3 {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: var(--roxo-primario);

}


.texto-encomenda {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    color: var(--roxo-destaque);
    font-size: 22px;
}

.texto-encomenda h4 {
    font-weight: 700;
}

.faca-encomenda {
    border-top: #e8e1eb solid 1px;
}

.button-encomenda {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    background-color: var(--roxo-destaque);
    color: #fff;
    width: 250px;
    padding: 1rem 1rem;
    border: none;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
}

.button-encomenda:hover {
    background-color: var(--roxo-primario);
}

.carousel-control-prev-icon{
    background-color: var(--color-text);
}

.carousel-control-next-icon{
    background-color: var(--color-text);
}

/* Pagina Categoria dos Produtos */

.categorias {
    padding: 5rem 5%;


}

.categorias h1 {
    font-size: 4rem;
    font-family: "Jersey 10", sans-serif;
    text-align: center;
    margin-bottom: 3rem;
    color: var(--roxo-destaque);
}

.categorias h1 span {
    font-size: 2.5rem;
    color: var(--verde-primario);
}

.categorias-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
    max-width: 1920px;
    margin: 0 auto;
    justify-content: center;
}

.categorias-item {
    position: relative;
    width: calc(35% - 1.35rem);
    aspect-ratio: 4/3;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: var(--shadow);
    cursor: pointer;
    animation: scaleIn 0.6s ease-out;
}

@keyframes scaleIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.categorias-item img {
    width: 100%;
    height: 100%;
    /* objetc-fit mantem a proporção da imagem */
    object-fit: cover;
    transition: var(--transition);
}

.categorias-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #8a6da6ce;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    opacity: 0;
    transition: var(--transition);
    text-align: center;
}

.categorias-item a{
    text-decoration: none;
    color: #fff;
}

.categorias-item:hover img {
    transform: scale(1.1) rotate(2deg);
    filter: brightness(0.7);
}

.categorias-item:hover .categorias-overlay {
    opacity: 1;
}

.categorias-overlay h3 {
    font-size: 45px;
    margin-bottom: 0.5rem;
    font-family: "Jersey 10", sans-serif;
    text-transform: uppercase;
    animation: slideInUp 0.5s ease-out;
}

.categorias-overlay p {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    animation: slideInUp 0.5s ease-out 0.1s both;
}

@keyframes slideInUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Página Encomendas */

.texto-info p span {
    font-weight: 700;
}

.etapas-encomendas {
    padding: 1.5rem 5%;
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
    align-items: center;
}

.etapas-encomenda h3 span {
    font-size: 2.5rem;
    color: var(--verde-primario);

}

.etapas-encomenda h4 {
    font-size: 3rem;
    font-family: "Jersey 10", sans-serif;
    color: var(--verde-primario);
    text-align: center;

}

.etapas-encomenda img {
    padding: 1.5rem 0;

}

.link-encomenda {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-bottom: 25px;
}

.item-link-encomenda {
    background-color: var(--roxo-primario);
    padding: 2rem;
    border-radius: 8px;
}

.item-link-encomenda a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

.item-link-encomenda:hover {
    background-color: var(--verde-primario);
    cursor: pointer;
}


/* Página de Contato */

.contato {
    /* padding: 1.5rem 5%; */
    margin: 0 auto;
    position: relative;
    align-items: center;
}

.links-contato {
    margin: 3rem 0;
}

.link-contato {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-bottom: 25px;

}

.item-link-contato {
    background-color: #e0e0e0;
    padding: 2rem;
    border-radius: 8px;
}

.item-link-contato:hover{
    background-color: var(--roxo-secundario);
    
}

.item-link-contato a {
    text-decoration: none;
    color: var(--roxo-destaque);
    font-size: 20px;
    font-weight: 600;
}

.form-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    animation: fadeIn 1s ease-out;
}

.field label {
    padding-right: 3rem;
    padding-bottom: 2rem;
    width: 200px;
    justify-items: center;
    font-family: "Jersey 10", sans-serif;
    font-size: 30px;
    color: var(--roxo-destaque);
    text-transform: uppercase;
}

.field input,
.field textarea {
    width: 700px;
    justify-items: center;

}

.form-contato input,
.form-contato textarea {
    padding: 1rem;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    transition: var(--transition);
    resize: none;


}

.form-contato input:focus,
.form-contato textarea:focus {
    outline: none;
    border-color: var(--roxo-destaque);
    box-shadow: 0 0 10px rgba(188, 188, 189, 0.3);
    transform: scale(1.02);
}


.submit-button {
    background-color: var(--roxo-destaque);
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    transition: var(--transition);
    width: 200px;
    margin: 0 auto;
    float: right;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
}

.submit-button:hover {
    background-color: #65b372;
    transform: translateY(-2px);

}

.submit-button:active {
    transform: translateY(0);
}

.divisor-map {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    color: var(--roxo-destaque);
    font-family: "Open Sans", sans-serif;
    font-weight: 700;

}

.divisor-map img {
    width: 100px;
    margin-bottom: 1rem;
}

.divisor-map i {
    font-size: 25px;
}

.divisor-fundo {
    margin: 0 auto;
    background-image: url(img/fundo-pixelado.png);
    object-fit: cover;
    height: 748px;


}

/* Responsividade */

@media (max-width: 768px) {

    .barra-social{
       max-width: 768px;
       flex-direction: column;
       
    }

    .menu-site{
        justify-content: left;
    }

    .hero h1,
    .hero h2{

        font-size: 75px;
    }

    .hero-subtitle{
        font-size: 20px;
        padding: 1.5rem;
    }

    
    .encomenda-item{
          
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .encomenda-item h3{
        padding: 1rem;
    }

    .encomenda-item p{
       padding: 5px;
       font-size: 18px;
    }

    .destaque-encomendas img {
        width: 100%;
    }

    .btn-encomenda{
        width: 400px;
        text-align: center;
    }

    .novidades{
        display: flex;
        flex-direction: column;
        height: 300px;
    }

    .form-novidades input{
        width: 350px;

    }

    .texto-encomenda h4 {
        font-size: 18px;
        padding: 10px;
    }

    .texto-info h1{
        font-size: 38px;
    }

    .texto-info img{
        width: 100%;
    }
    
    .link-encomenda{
        gap: 1rem;
    }

    .formulario{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 400px;
        
    }

    .field input,
    .field textarea {
    width: 100%;
}

    
    .divisor-map iframe{
        width: 500px;
        
    }

    .categorias-grid{
        gap: 3rem;
               
    }

    .categorias-overlay h3{
        font-size: 20px;

    }    

    .categorias-overlay p{
        font-size: 10px;
    }
   
    .link-contato{
        gap: 1rem;
    }

    .footer{
        font-size: 20px;
    }
   
    .footer p{
        font-size: 30px;
    }

    .slogan-rodape a{
        display: none;
    }   
    
    .rodape-direitos p{
        font-size: 15px;
    }
}




